body {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  font-size: x-large;
  border: 3px solid gold;
  background-color: white;
  padding: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
}

#form2 {
  font-size: x-large;
  border: 3px solid gold;
  background-color: white;
  padding: 40px;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 500px;
  height: 300px;
}

#buttons {
  float: right;
  margin: 20px;
  border-radius: 10%;
  padding: 5px;

}

@keyframes moving {
  from {
    transform: translateX(200px);
  }

  to {
    transform: translateX(1200px);
  }
}

@keyframes moving1 {
  from {
    transform: translateX(1400px);
  }

  to {
    transform: translateX(1200px);
  }

}


#floating {
  color: goldenrod;
  animation: moving 5s linear infinite;
  /* call the moving keyframes and make it infinite */
}

#floating2 {
  color: goldenrod;
  animation: moving 5s linear infinite;
  /* call the moving keyframes and make it infinite */
}

#floating3 {
  color: goldenrod;
  animation: moving 5s linear infinite;
  /* call the moving keyframes and make it infinite */
}

#floating4 {
  color: goldenrod;
  animation: moving1 5s linear infinite;
  /* call the moving keyframes and make it infinite */
}