body {
    background-color: grey;
    display: flex;
    justify-content: center;

}

form {

    box-shadow: 2px 2px 1px 1px;
    background-color: whitesmoke;
    text-align: center;
    color: black;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;
    min-height: fit-content;
}


form img {
    aspect-ratio: 3/2;
    object-fit: fill;
    background-blend-mode: color-burn;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


}

form #select,
#select2,
#select3,
#select4 {
    padding: 8px;

}

form p {
    font-size: xx-large;

}

/* flipped image */
.flip {
    color: black;
    margin-top: 2cm;
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.flip-inner {

    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 7px;
}

.flip-front {
    background-color: transparent;

}

.flip-front img {
    width: 300px;
    height: 100%;
    margin-top: 1rem;
}

.flip-back {
    height: fit-content;
    background-image: linear-gradient(70deg, white, black);
    transform: rotateY(180deg);
}

.flip-back p {
    float: inline-end;
    font-size: larger;
    margin-top: 10px;
}



form .flip {
    padding-top: 0%;
    padding-bottom: 30px;
}

/* end flip image */

form button {
    margin-left: 30px;
    padding: 15px;
    background-color: rgb(122, 122, 122);
    color: white;
    border-radius: 10px;

}

form button:hover {
    cursor: pointer;
}

form input {
    margin-left: 150px;
    width: 80px;
    padding: 7px;
}

form .buyit {
    display: flex;
    align-items: center;
}

#submitorder {
    padding: 15px;
}

#price,
#price2,
#price3,
#price4 {
    margin-left: 20px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

#fatoora {
    color: grey;
    margin-left: 660px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}