body {
    background-color: grey;
}

form {
    border: 2px solid black;
    border-left: 2px solid grey;
    border-top: 2px solid grey;
    background-color: whitesmoke;
    object-fit: cover;
    text-align: center;
    color: black;
    position: absolute;
    left: 20%;
    width: 1200px;
    padding: 10px;
    padding-left: 30px;

}


form img {
    aspect-ratio: 3/2;
    object-fit: fill;
    background-blend-mode: color-burn;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;


}

form p {
    font-size: xx-large;
}

.flip {
    color: black;
    margin-top: 2cm;
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
}

.flip-inner {

    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip:hover .flip-inner {
    transform: rotateY(180deg);
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 7px;
}

.flip-front {
    background-color: transparent;

}

.flip-front img {
    width: 300px;
    height: 100%;
    margin-top: 1rem;
}

.flip-back {
    height: fit-content;
    background-image: linear-gradient(70deg, white, black);
    transform: rotateY(180deg);
}

.flip-back p {
    float: inline-end;
    font-size: larger;
    margin-top: 10px;
}



form .flip {
    padding-top: 0%;
    padding-bottom: 30px;
}

form button {
    margin-left: 30px;
    padding: 7px;
    background-color: rgb(122, 122, 122);
    color: white;
    border-radius: 10px;

}

form button:hover {
    cursor: pointer;
}

form input {
    margin-left: 150px;
}

form .buyit {
    display: flex;
    align-items: center;
}

form button:hover {
    background-color: black;
}